@model FurnitureListViewModel


@{
    ViewBag.Title = "Интернет - магазин \"Furniture Shop\"";
    Layout = "_AdminLayout";
}


@*<div class="offset-top offset-left">
    <hЗ class="title">@ViewBag.Title</hЗ>
</div>*@

<div class="offset-top offset-left">
    <a class="a">Категория 1</a>
    <a class="a">Категория 2</a>
    <a class="a">Категория 3</a>
</div>

@if (Model.Furniture.Count() == 0)
{
    <div class="row">
        <div class="text-center p-2" style="margin-top: 70px;">No Data</div>
    </div>
}
else
{
    @foreach (var item in Model.Furniture)
    {
        <div class="child-block">
            <img src="" />
            <p>@item.Name</p>
            <p>@item.Description</p>
            <p>@item.Price</p>

            <form asp-action="Delete" method="post">
                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@item.ID">
                    Изменить
                </a>
                <input type="hidden" name="ProductID" value="@item.ID" />
                <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
            </form>

            <div class="text-center">
                <a asp-action="Add">Добавить</a>
            </div>
        </div>
     }
}



