@model IEnumerable<TypeFurniture>

    <link rel="stylesheet" asp-href-include="css/style.css" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*min.css" />
    <script src="~/js/script.js"></script>

    <div class="text-center child-block text-name" style="width: 25%">
        <hЗ class="text-filter">Фильтр</hЗ>
        <form method="post" asp-action="Filter" asp-controller="Home">
            <div class="text-center">
                <label class="text-name">Выберите тип</label> <br />

                @foreach (var item in Model)
                {
                    <label class="text-type">
                        @item.Type
                        <input name="id" type="hidden" value="@item.ID" asp-for="@item.ID" class="form-control" />
                        <input name="check" type="checkbox" onclick="getTypes()" />
                    </label>
                    <br />
                }
            </div>
            <div>
                <label class="text-name">Выберите диапазон цен</label>
                <div class="parent-block">
                    <input name="price1" value="@TempData["minPrice"]" class="child-block width-price-input" type="text" />
                    <label class="child-block offset-left">—</label>
                    <input name="price2" value="@TempData["maxPrice"]" class="child-block width-price-input offset-left" type="text" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary offset-top">Показать</button>

            <div id="selectedTypes"></div>
        </form>

    </div>